{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">批量编辑服务器数据信息</div>
            <div class="layui-card-body">

                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>区服名称</th>
                            <th style="width: 100px;">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.servername}</td>
                            <td>{$vo.status}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}