{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">非法获取道具预警列表</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">请选择区服:</label>
                            <div class="layui-input-inline" style="min-width: 400px;">
                                <select name="server_id" xm-select="select5" xm-select-max="3" xm-select-search="" >
                                    {volist name="server_list" id="vo"}
                                    <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.area_id} 区 - {$vo.servername}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">玩家昵称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="player_name" placeholder="请输入玩家昵称" value="{$player_name}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">角色ID:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="actor_id" placeholder="请输入角色ID" value="{$actor_id}"
                                       onkeyup='this.value=this.value.replace(/\D/gi,"")'
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>服务器ID</th>
                            <th>服务器名称</th>
                            <th>角色ID</th>
                            <th>角色名称</th>
                            <th>货币类型</th>
                            <th>货币数量</th>
                            <th>记录时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo" empty="$empty"}
                        <tr>
                            <td>{$vo.server_id}</td>
                            <td>{$vo.server_name}</td>
                            <td>{$vo.actor_id}</td>
                            <td>{$vo.player_name}</td>
                            <td>
                                {switch vo.prop_type}
                                {case 101}<span style="color: blue;font-weight: bold;">金币</span>{/case}
                                {case 102}<span style="color: green;font-weight: bold;">银票</span>{/case}
                                {case 103}<span style="color: goldenrod;font-weight: bold;">元宝</span>{/case}
                                {case 104}<span style="color: grey;font-weight: bold;">荣耀积分</span>{/case}
                                {/switch}
                            </td>
                            <td><span style="color: red;font-weight: bold;">{$vo.prop_value}</span></td>
                            <td>{:date('Y-m-d h:i:s',$vo.create_time)}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$page|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
{/block}
