{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post"  class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">管理员ID：</label>
                        <div class="layui-input-block">
                            <select name="uid">
                                <option value="-1">请选择管理员</option>
                                {volist name="user_list" id="vo"}
                                <option value="{$vo.id}" {$uid==$vo.id?'selected':''}>{$vo.username}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">渠道ID：</label>
                        <div class="layui-input-block">
                            <select name="channel_ids" xm-select="select4" xm-select-search="">
                                {volist name="channel_list" id="vo"}
                                <option value="{$vo.id}" {$channel_id==$vo.id?'selected':''}>{$vo.channel_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交</button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
{/block}