{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">系统道具添加记录</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <div class="zz-operate-btn-group">
                        <a class="layui-btn" title="添加道具" href="{:url('prop')}">添加道具</a>
                    </div>
                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">请选择区服:</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <select name="server_id" xm-select="select5" xm-select-max="1" xm-select-search="">
                                    {volist name="server_list" id="vo"}
                                    <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.area_id} 区 - {$vo.servername}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户昵称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="player_name" placeholder="请输入用户昵称" value="{$player_name}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th class=" layui-table-col-special" width="18px">
                                <input type="checkbox" lay-filter="zz-checkbox-table" lay-skin="primary">
                            </th>
                            <th>编号</th>
                            <th>区服</th>
                            <th>玩家姓名</th>
                            <th>道具编号</th>
                            <th>道具名称</th>
                            <th>道具数量</th>
                            <th width="180">添加时间</th>
                            <th>管理员</th>
<!--                            <th width="60">操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo" empty="$empty"}
                        <tr>
                            <td><input type="checkbox" class="zz-table-chk-item" value="{$vo.id}" lay-skin="primary">
                            </td>
                            <td>{$vo['id']}</td>
                            <td>{:get_area_server_name($vo['server_id'])}</td>
                            <td>{$vo['player_name']}</td>
                            <td>{$vo['prop_id']}</td>
                            <td>{:get_prop_name($vo.prop_id)}</td>
                            <td>{$vo['prop_num']}</td>
                            <td>{:date('Y-m-d H:i:s',$vo['create_time'])}</td>
                            <td>{:get_admin_user_name($vo['admin_id'])}</td>
<!--                            <td>-->
<!--                                <a href="{:url('delete?ids='.$vo['id'])}"-->
<!--                                   class="layui-btn layui-btn-danger layui-btn-xs confirm ajax-post">删除</a>-->
<!--                            </td>-->
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$page|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
{/block}