{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form" autocomplete="on">
                    <div class="layui-form-item">
                        <label class="layui-form-label">区服ID：</label>
                        <div class="layui-input-block">
                            <select name="server_id" xm-select="select5" xm-select-max="1" xm-select-search="">
                                {volist name="server_list" id="vo"}
                                <option  value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.area_id} 区 - {$vo.servername}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">玩家昵称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="player_name" lay-verify="required"
                                   onfocus="this.placeholder=''" autocomplete="on"
                                   onblur="placeholder='请输入玩家昵称'" placeholder="请输入玩家昵称"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">道具ID：</label>
                        <div class="layui-input-block">
                            <select name="item_id" lay-verify="required"  ><!--  xm-select="select4" xm-select-max="1" xm-select-search=""-->
                                <option value="0">请选择道具ID</option>
                                {volist name="__PROP__" id="vo"}
                                <option value="{$vo.type_id}" {$item_id==$vo.type_id?'selected':''}>{$vo.type_id}-{$vo.type_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">道具数量：</label>
                        <div class="layui-input-block">
                            <input type="text" name="item_count" lay-verify="required|number"
                                   onfocus="this.placeholder=''"
                                   onblur="placeholder='请输入道具数量'" placeholder="请输入道具数量"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")'
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否绑定：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="item_bind" checked value="1" title="绑定">
                            <input type="radio" name="item_bind" value="0" title="不绑定">
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>

<script>
    layui.use('form', function () {
        var $ = layui.$
            , form = layui.form
            , element = layui.element;
        form.render();
    });
</script>
{/block}