{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">平台充值</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">

                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">区服:</label>
                            <div class="layui-input-inline" style="min-width:220px;">
                                <select name="server_id" xm-select="select5" xm-select-max="1" xm-select-search="">
                                    {volist name="serverlist" id="vo"}
                                    <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.area_id} 区 -
                                        {$vo.servername}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">渠道:</label>
                            <div class="layui-input-inline" style="min-width:100px;">
                                <select name="channel_id" xm-select="select4" xm-select-max="1" xm-select-search="">
                                    {volist name="channel_list" id="vo"}
                                    <option value="{$vo.id}" {$channel_id==$vo.id?'selected':''}>{$vo.channel_name}
                                    </option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">角色ID:</label>
                            <div class="layui-input-inline" style="width:120px;">
                                <input type="text" name="user_id" placeholder="角色ID" value="{$user_id}"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">订单编号:</label>
                            <div class="layui-input-inline" style="width: 230px;">
                                <input type="text" name="order_id" placeholder="订单编号" value="{$order_id}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width:100px;">
                                <select name="amount">
                                    <option value="-1" {$amount==-1?'selected':''}>全部金额</option>
                                    <option value="10" {$amount==10?'selected':''}>10元</option>
                                    <option value="50" {$amount==50?'selected':''}>50元</option>
                                    <option value="100" {$amount==100?'selected':''}>100元</option>
                                    <option value="500" {$amount==500?'selected':''}>500元</option>
                                    <option value="1000" {$amount==1000?'selected':''}>1000元</option>
                                    <option value="2000" {$amount==2000?'selected':''}>2000元</option>
                                    <option value="3000" {$amount==3000?'selected':''}>3000元</option>
                                    <option value="5000" {$amount==3000?'selected':''}>5000元</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width:130px;">
                                <select name="pay_type">
                                    <option value="0" {$pay_type==0?'selected':''}>全部支付方式</option>
                                    <option value="1" {$pay_type==1?'selected':''}>支付宝</option>
                                    <option value="2" {$pay_type==2?'selected':''}>微信</option>
                                    <option value="3" {$pay_type==3?'selected':''}>汇付宝</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 100px;">
                                <select name="order_status">
                                    <option value="1" {$order_status==1?'selected':''}>已支付</option>
                                    <option value="100" {$order_status==100?'selected':''}>未支付</option>
                                    <option value="2" {$order_status==2?'selected':''}>支付异常</option>
                                </select>
                            </div>

                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">查询日期:</label>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" class="layui-input" id="start_date" name="start_date"
                                       value="{$start_date}" readonly="readonly" placeholder="yyyy-MM-dd">
                            </div>
                            <div class="layui-input-inline">-</div>
                            <div class="layui-input-inline" style="width: 150px;">
                                <input type="text" class="layui-input" id="end_date" name="end_date" value="{$end_date}"
                                       readonly="readonly" placeholder="yyyy-MM-dd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th class=" layui-table-col-special" width="18px">
                                <input type="checkbox" lay-filter="zz-checkbox-table" lay-skin="primary">
                            </th>
                            <th>编号</th>
                            <th>区服</th>
                            <th>角色ID</th>
                            <th>玩家姓名</th>
                            <th>金额</th>
                            <th>元宝数量</th>
                            <th>订单编号</th>
                            <th>付费IP</th>
                            <th>订单状态</th>
                            <th>是否对账</th>
                            <th>渠道</th>
                            <th>支付方式</th>
                            <th>订单时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo" empty="$empty"}
                        <tr>
                            <td>
                                {if $vo.is_check==0}
                                <input type="checkbox" name="chk_id" class="zz-table-chk-item" value="{$vo.id}"
                                       lay-skin="primary">
                                {/if}
                            </td>
                            <td>{$vo['id']}</td>
                            <td>{:get_area_server_name($vo.server_id)}</td>
                            <td>{$vo.user_id}</td>
                            <td>
                                <span style="font-weight: bold;color: #7f0055">{:get_player_name($vo.user_id,$vo.server_id)}</span>
                            </td>
                            <td style="color: blue;">{:sprintf("%1\$.2f",$vo['money']*0.7)} 元</td>
                            <td>{$vo['amount']} 元宝</td>
                            <td>{$vo['order_id']}</td>
                            <td>{$vo['pay_ip']}</td>
                            <td>
                                {switch vo.order_status}
                                {case 0}<span style="color: blue">未支付</span>{/case}
                                {case 1}<span style="color: green">已支付</span>{/case}
                                {case 2}<span style="color: red">支付异常</span>{/case}
                                {/switch}
                            </td>
                            <td>
                                {eq name="vo.is_check" value="0"}
                                <span style="color: blue">未对账</span>
                                {else/}
                                <span style="color: green">已对账</span>
                                {/eq}
                            </td>
                            <td>
                                {:get_channel_name($vo.channel_id)}
                            </td>
                            <td>
                                {switch name="vo.pay_type"}
                                {case 1}支付宝{/case}
                                {case 2}微信{/case}
                                {case 3}汇付宝{/case}
                                {/switch}
                            </td>
                            <td>{$vo['add_time']}</td>
                        </tr>
                        {/volist}
                        <tr>
                            <td></td>
                            <td style="font-weight: bold;color: red">总计(已支付金额)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="color: blue;">￥ {:sprintf("%1\$.2f",$total_money*0.7)} 元</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    {$page|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}

<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>

<script>
    layui.use(['laydate', "jquery"], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;
        var nowTime = new Date().valueOf();

        //日期
        var start = laydate.render({
            elem: '#start_date',
            //min:nowTime,
            type: 'datetime',
            max: nowTime,
            done: function (value, date) {
                endMax = end.config.max;
                end.config.min = date;
                end.config.min.month = date.month - 1;
            }
        });
        var end = laydate.render({
            elem: '#end_date',
            min: nowTime,
            max: nowTime,
            type: 'datetime',
            done: function (value, date) {
                if ($.trim(value) == '') {
                    var curDate = new Date();
                    date = {'date': curDate.getDate(), 'month': curDate.getMonth() + 1, 'year': curDate.getFullYear()};
                }
                start.config.max = date;
                start.config.max.month = date.month - 1;
            }
        });
    });
</script>
{/block}
