{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">服务器列表</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <div class="zz-operate-btn-group">
                        <a class="layui-btn" title="新增跨服服务器" href="{:url('create')}">新  增</a>
                    </div>
                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">服务器名称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="servername" placeholder="请输入跨服服务器名称" value="{$servername}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table" id="dataTable" lay-filter="dataTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>跨服区服</th>
                            <th>数据库名</th>
                            <th>写库IP</th>
                            <th>写库端口</th>
                            <th>写库账号</th>
                            <th>写库密码</th>
                            <th width="90px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo" empty="$empty"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.servername}</td>
                            <td>{$vo.db_database_name}</td>
                            <td>{$vo.db_ip_w}</td>
                            <td>{$vo.db_port_w}</td>
                            <td>{$vo.db_username_w}</td>
                            <td>{$vo.db_password_w}</td>
                            <td>
                                <a href="{:url('edit?id='.$vo['id'])}"
                                   class="layui-btn layui-btn-xs layui-btn-normal" title="编辑服务器">编辑</a>
                                <a href="{:url('del?ids='.$vo['id'])}"
                                   class="layui-btn layui-btn-danger layui-btn-xs confirm ajax-post">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$page|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}