{extend name="public/base" /}
{block name="body"}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">

                    <div class="layui-form-item">
                        <label class="layui-form-label">服务器</label>
                        <div class="layui-input-block">
                            <select name="server_id" xm-select="select4">
                                <option value="-1">全服</option>
                                {volist name="server_list" id="vo"}
                                <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.servername}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">公告内容：</label>
                        <div class="layui-input-block">
                            <textarea name="notice_content" onfocus="this.placeholder=''"
                                      onblur="this.placeholder='请输入公告内容'"
                                      placeholder="请输入公告内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">播放间隔：</label>
                        <div class="layui-input-block">
                            <input type="text" name="play_interval" lay-verify="required|number" onkeyup='this.value=this.value.replace(/\D/gi,"")'
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入公告播放间隔,如10(单位:分钟)'"
                                   placeholder="请输入公告播放间隔,如10(单位:分钟)"
                                   class="layui-input" value="0">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">发送方式：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="send_type" checked value="1" title="定时发送">
                            <input type="radio" name="send_type" value="2" title="即时发送">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">起始时间：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="send_start_time" id="send_start_time"
                                   onfocus="this.placeholder=''"
                                   onblur="placeholder='请选择公告发送起始日期时间'" placeholder="请选择公告发送起始日期时间">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">结束时间：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="send_end_time" id="send_end_time"
                                   onfocus="this.placeholder=''"
                                   onblur="placeholder='请选择公告发送结束日期时间'" placeholder="请选择公告发送结束日期时间">
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__JS__/jquery.form.js"></script>
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script src="__UI__/SyntaxHighlighter-3.0.83/shCore.js"></script>
<script src="__UI__/SyntaxHighlighter-3.0.83/shBrushJScript.js"></script>
<script src="__UI__/js-pinyin.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['element', 'form', 'laydate'], function () {
        var laydate = layui.laydate
            , form = layui.form;

        //常规用法
        laydate.render({
            elem: '#send_start_time'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#send_end_time'
            ,type: 'datetime'
        });
    });

</script>
{/block}