{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">渠道ID：</label>
                        <div class="layui-input-block">
                            <select name="channel_id" xm-select="select4" xm-select-search="">
                                {volist name="channel_list" id="vo"}
                                <option value="{$vo.id}" {in name="$vo.id" value="$info['channel_id']" }selected {/in}>{$vo.channel_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">渠道分成：</label>
                        <div class="layui-input-block">
                            <input type="text" name="share_ratio" lay-verify="required" placeholder="输入渠道分成比例,如40"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$info['share_ratio']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">支付方(服)：</label>
                        <div class="layui-input-block">
                            <select id="payer">
                                <option value="-1" >请选择费用支付方</option>
                                <option value="1" {$info['payer']==1?'selected':''}>官方</option>
                                <option value="2" {$info['payer']==2?'selected':''}>渠道方</option>
                                <option value="3" {$info['payer']==3?'selected':''}>共同承担</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">费用(服)：</label>
                        <div class="layui-input-block">
                            <input type="text" name="server_amount" lay-verify="required" placeholder="输入服务器费用,如2040"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$info['server_amount']}" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">支付方(通)：</label>
                        <div class="layui-input-block">
                            <select id="payment_channel">
                                <option value="-1">请选择通道费支付方</option>
                                <option value="1" {$info['payment_channel']==1?'selected':''}>官方</option>
                                <option value="2" {$info['payment_channel']==2?'selected':''}>渠道方</option>
                                <option value="3" {$info['payment_channel']==3?'selected':''}>共同承担</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">通道费用：</label>
                        <div class="layui-input-block">
                            <input type="text" name="payment_channel_amount" lay-verify="required" placeholder="输入服务器费用,如2040"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$info['payment_channel_amount']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">代金券：</label>
                        <div class="layui-input-block">
                            <select id="cash_coupon">
                                <option value="-1">请选择是否代金券</option>
                                <option value="0" {$info['cash_coupon']==0?'selected':''}>无代金券</option>
                                <option value="1" {$info['cash_coupon']==1?'selected':''}>有代金券</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">金额(代)：</label>
                        <div class="layui-input-block">
                            <input type="text" name="cash_coupon_amount" lay-verify="required" placeholder="输入代金券金额,如2040"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$info['cash_coupon_amount']}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" checked value="1" title="开启" {$info['status']==1?'checked':''}>
                            <input type="radio" name="status" value="0" title="关闭" {$info['status']==0?'checked':''}>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$id}">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}