{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包编号：</label>
                        <div class="layui-input-block">
                            <input type="text" value="{$info['id']}" class="layui-input" disabled="disabled">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包名称：</label>
                        <div class="layui-input-block">
                            <input type="text" value="{$info['title']}" class="layui-input" disabled="disabled">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作人：</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="required" value="管理员" disabled="disabled"
                                   placeholder="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包内容：</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="" class="layui-textarea" disabled="disabled">{$prop_info}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">返回</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$id}">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}