{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">服务器ID：</label>
                        <div class="layui-input-block">
                            <select name="server_id" disabled="disabled">
                                {volist name="server_list" id="vo"}
                                <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.servername}</option>
                                {/volist}d
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">帮派ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="sect_id" lay-verify="required|number" onfocus="this.placeholder=''"
                                   onblur="placeholder='请输入帮派ID'" placeholder="请输入帮派ID"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$sect_id}"
                                   disabled="disabled"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">帮派名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="sect_name" value="{$sect_name}" disabled="disabled"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色ID：</label>
                        <div class="layui-input-block">
                            <select name="actor_id" xm-select="select5"  xm-select-search="">
                                {volist name="member_list" id="vo"}
                                <option value="{$vo.actor_id}" {$actor_id==$vo.actor_id?'selected':''}>{:get_player_name($vo.actor_id,$server_id)}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
{/block}
