{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">订单编号：</label>
                        <div class="layui-input-block">
                            <input type="text" name="order_id" lay-verify="required" onfocus="this.placeholder=''"
                                   onblur="placeholder='请输入充值订单编号'" placeholder="请输入充值订单编号"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">补录类型：</label>
                        <div class="layui-input-block">
                            <select name="recharge_type">
                                <option value="1">游戏充值</option>
                                <option value="2">平台直充</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}