{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">白名单用户配置列表</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <div class="zz-operate-btn-group">
                        <a class="layui-btn" title="添加账户" href="{:url('create')}">添加用户</a>
                    </div>
                    <form action="{:url('')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户ID:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userId" placeholder="请输入用户ID"
                                       onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$userId}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户昵称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userName" placeholder="请输入用户昵称" value="{$playerName}"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit>
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-form">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>手机号码</th>
                            <th>设备码</th>
                            <th>真实姓名</th>
                            <th>最后登录IP</th>
                            <th>最后登录时间</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="lists" id="vo"}
                        <tr>
                            <td>{$vo.UserID}</td>
                            <td>{$vo.Phone_UserName}</td>
                            <td>{$vo.UserName}</td>
                            <td>{:get_user_real_name($vo.UserID)}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="{:url('del?ids='.$vo['id'])}"
                                   class="layui-btn layui-btn-danger layui-btn-xs confirm ajax-post">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    {$page|raw}
                </div>
            </div>
        </div>
    </div>
</div>

{/block}