{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>元宝扣除</legend>
                    </fieldset>

                    <div class="layui-form-item">
                        <label class="layui-form-label">服务器ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="server_id" value="{$server_id}" readonly="readonly"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="user_id" value="{$user_id}" readonly="readonly"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">角色ID：</label>
                        <div class="layui-input-block">
                            <input type="text" name="actor_id" value="{$actor_id}" readonly="readonly"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="nickname" value="{$nickname}" readonly="readonly"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">扣除数量：</label>
                        <div class="layui-input-block">
                            <input type="text" name="ingot" lay-verify="required|number" onfocus="this.placeholder=''"
                                   onblur="placeholder='请输入扣除元宝数量'" placeholder="请输入扣除元宝数量"
                                   onkeyup='this.value=this.value.replace(/\D/gi,"")' value="{$max_ingot}"  oninput="if(value>{$max_ingot})value={$max_ingot}"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <p style="color: red;font-size: 20px;">
                            特殊提示：扣除玩家身上元宝请谨慎操作,核对无误再确认操作！！！</p>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}

<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer', 'jquery', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            formSelects = layui.formSelects,
            form = layui.form;

        form.on('select(server)', function (data) {
            var message = $("select[name=channel_id]").val();
            console.log("原渠道ID：" + message);
            // console.log($('#server_id').find("option:selected").text());// 获取select选中文本
            if (message != 0) {
                $.ajax({
                    type: 'post',
                    url: 'getChannelListBySelectId',
                    data: {id: message},
                    dataType: 'json',
                    success: function (data) {
                        if (data.length > 0) {
                            var htmlStr = '';

                            for (var i = 0; i < data.length; i++) {
                                htmlStr += "<option value='" + data[i]['id'] + "'>" + data[i]['channel_name'] + "</option>";
                            }
                            $("#change_channel_id").html(htmlStr);

                            formSelects.render();
                        } else {
                            alert('暂无数据!');
                        }
                    }
                });
            }
        });
    });
</script>
{/block}