{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <!--div class="layui-card-header">玩家管理</div-->
            <div class="layui-card-body">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li><a href="{:url('index')}?server_id={$server_id}">玩家列表</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=baseinfo">基本信息</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=equip">装备</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=package">背包物品</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=store">仓库</a></li>
                        <!--li><a href="{:url('show')}?id={$actor_id}&type=clothes">时装</a></li  -->>
                        <li><a href="{:url('show')}?id={$actor_id}&type=gem">宝石</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=skill">技能</a></li>
                        <li class="layui-this">经济统计</li>
                    </ul>

                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>道具类型编号</th>
                                <th>值</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="info" id="vo"}
                            <tr>
                                <td>{$vo.money_type}</td>
                                <td>{$vo.money_value}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        {$page|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{/block}