{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <!--div class="layui-card-header">玩家管理</div-->
            <div class="layui-card-body">
                <div class="layui-tab">
                    <ul class="layui-tab-title"> 
                        <li><a href="{:url('index')}?server_id={$server_id}">玩家列表</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=baseinfo">基本信息</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=equip">装备</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=package">背包物品</a></li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=store">仓库</a></li>
                        <!--li><a href="{:url('show')}?id={$actor_id}&type=clothes">时装</a></li  -->>
                        <li><a href="{:url('show')}?id={$actor_id}&type=gem">宝石</a></li>
                        <li class="layui-this">技能</li>
                        <li><a href="{:url('show')}?id={$actor_id}&type=economy"> 经济统计</a></li>
                    </ul>


                    <div class="layui-form">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>角色ID</th>
                                <th>技能ID</th>
                                <th>技能名称</th>
                                <th>技能归属</th>
                                <th>等级</th>
                                <th>经验</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="info" id="vo"}
                            <tr>
                                <td>{$vo.actor_id}</td>
                                <td>{$vo.skill_id}</td>
                                <td>{:get_skill_by_csv($vo.skill_id)}</td>
                                <td>
                                    {eq name="vo.idx" value="0"}
                                    <span style="color: orangered">主角</span>
                                    {else/}
                                    <span style="color: blue">分身</span>
                                    {/eq}
                                </td>
                                <td>{$vo.level}</td>
                                <td>{$vo.exp}</td>

                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        {$page|raw}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{/block}