{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="upload_2" class="layui-form" enctype="multipart/form-data" method="post">
                    <input type="file" name="file" /> <br>
                    <input type="submit" value="上传" />
                </form>
            </div>
        </div>
    </div>
</div>
{/block}