{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="upload" method="post" class="layui-form" enctype="multipart/form-data">

                    <div class="layui-form-item">
                        <label class="layui-form-label">文件名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="upload_file_name" placeholder="请输入文件名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文件后缀：</label>
                        <div class="layui-input-block">
                            <input type="text" name="upload_file_ext" placeholder="请输入文件后缀,如ZIP、RAR"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文件版本：</label>
                        <div class="layui-input-block">
                            <input type="text" name="version" placeholder="请输入文件版本,如1.0.1" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上传文件：</label>
                        <div class="layui-input-block">
                            <input type="file" name="file" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" >上传文件并解压
                            </button>
                            <!--<input type="submit" value="上传" />-->
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}