{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">实时聊天记录查询</div>
            <div class="layui-card-body">
                <div class="layui-row zz-row-operate">
                    <form action="{:url('/chat/receive')}" class="layui-form zz-form-search zz-form zz-form-right">
                        <div class="layui-inline">
                            <label class="layui-form-label">区服查询:</label>
                            <div class="layui-input-block" style="width: 350px;">
                                <select name="server_id" xm-select="select4" xm-select-max="1" xm-select-search="" >
                                    {volist name="server_list" id="vo"}
                                    {notempty name="server_id"}
                                    {volist name='server_id' id='s_vo'}
                                    {if $vo.id==$s_vo}
                                    <option value="{$vo.id}" {$s_vo==$vo.id?'selected':''}>{$vo.area_id} 区 - {$vo.servername}</option>
                                    {/if}
                                    {/volist}
                                    {else/}
                                    <option value="{$vo.id}" {$server_id==$vo.id?'selected':''}>{$vo.area_id} 区 - {$vo.servername}</option>
                                    {/notempty}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit formtarget="_blank">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<link rel="stylesheet" href="__DIST__/formSelects-v4.css"/>
<script src="__DIST__/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
{/block}