{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post" class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red">*</span> IP地址：</label>
                        <div class="layui-input-block">
                            <input name="hostname" lay-verify="required" onfocus="this.placeholder=''"
                                   onblur="this.placeholder='请输入数据库服务器IP'"
                                   placeholder="请输入数据库服务器IP地址" class="layui-input" value="{$info['hostname']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red">*</span> 端口：</label>
                        <div class="layui-input-block">
                            <input type="text" name="hostport" lay-verify="required|number"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入数据库服务器端口'"
                                   placeholder="请输入数据库服务器端口"
                                   class="layui-input" value="{$info['hostport']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red">*</span> 登录名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="required"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入数据库服务器登录名'"
                                   placeholder="请输入数据库服务器登录名"
                                   class="layui-input" value="{$info['username']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color: red">*</span> 登录密码：</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" lay-verify="required"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入数据库服务器登录密码'"
                                   placeholder="请输入数据库服务器登录密码"
                                   class="layui-input" value="{$info['password']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">DSN：</label>
                        <div class="layui-input-block">
                            <input type="text" name="dsn"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入数据库服务器DSN'"
                                   placeholder="请输入数据库服务器DSN"
                                   class="layui-input" value="{$info['dsn']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">表前缀：</label>
                        <div class="layui-input-block">
                            <input type="text" name="prefix"
                                   onfocus="this.placeholder=''" onblur="this.placeholder='请输入数据表表前缀'"
                                   placeholder="请输入数据表表前缀"
                                   class="layui-input" value="{$info['prefix']}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="启用" {$info['status']==1?'checked':''}>
                            <input type="radio" name="status" value="-1" title="禁用" {$info['status']==-1?'checked':''}>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block" style="color: red;font-size: 14px;">
                            PS:*号均为必填项,请认真填写！
                        </div>
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交
                            </button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$id}">
                </form>
            </div>
        </div>
    </div>
</div>
{/block}