{extend name="public/base" /}
{block name="body"}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form action="{:url('')}" method="post"  class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包名称：</label>
                        <div class="layui-input-block">
                            <input type="text" name="gift_name" lay-verify="required" placeholder="请输入礼包名称" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">渠道：</label>
                        <div class="layui-input-block">
                            <select name="channel_no">
                                <option value="0">请选择应用渠道</option>
                                {volist name="channel_list" id="vo"}
                                <option value="{$vo.id}" {$channel_id==$vo.id?'selected':''}>{$vo.channel_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包列表：</label>
                        <div class="layui-input-block">
                            <input type="text" name="gift_list" lay-verify="required" placeholder="输入礼包列表，格式（道具ID|道具数量，如有多个请用英文分号分隔）" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包数量：</label>
                        <div class="layui-input-block">
                            <input type="text" name="gift_amount"  placeholder="输入礼包数量"   onkeyup='this.value=this.value.replace(/\D/gi,"")' class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">礼包码：</label>
                        <div class="layui-input-block">
                            <input type="text" name="gift_code"  placeholder="输入礼包码" class="layui-input" maxlength="11">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否通用：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="is_common" checked value="0" title="通用" >
                            <input type="radio" name="is_common" value="1" title="非通用">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">生效时间：</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="valid_time" id="valid_time"
                                       onfocus="this.placeholder=''" readonly="readonly"
                                       onblur="placeholder='请选择生效时间'" placeholder="请选择生效时间"  placeholder="yyyy-MM-dd H:i:s">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="invalid_time" id="invalid_time"
                                       onfocus="this.placeholder=''" readonly="readonly"
                                       onblur="placeholder='请选择失效时间'" placeholder="请选择失效时间"  placeholder="yyyy-MM-dd H:i:s">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="zz-btn-submit">立即提交</button>
                            <button type="button" class="layui-btn layui-btn-primary zz-btn-cancel">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__JS__/jquery.form.js"></script>
<script>
    layui.use(['element', 'form', 'laydate'], function () {
        var laydate = layui.laydate
            , form = layui.form;

        //常规用法
        laydate.render({
            elem: '#valid_time',
            type:'datetime'
        });
        laydate.render({
            elem: '#invalid_time',
            type:'datetime'
        });
    });
</script>
{/block}